body {
    margin: 0;
    font-family: "Roboto", "Arial", sans-serif;
}

* {
    color: white;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header {
    display: block;
    width: 100vw;
    background-color: #122797;
    color: white;
    padding-top: 20px;
}

#heading-text {
    width: 100vw;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    display: block;
}

.header_menu {
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    justify-content: space-around;
    padding: 1.1rem;
}

.menu_link {
    text-decoration: none;
}

.main-about {
    display: block;
    margin-top: 2vh;
    background-color: white;
    height: 6vh;
    margin-left: auto;
    margin-right: auto;
    color: #122797;
    font-size: 1.7rem;
    text-align: center;
    font-weight: 500;
}

.main-content {
    display: block;
    padding: 0 2vh 2vh 2vh;
    margin: 0 9vw;
    color: #122797;
    margin-bottom: 2vh;
}

.main-content__text,
p {
    color: #122797;
    font-size: 1.5rem;
    text-align: justify;
    line-height: 120%;
    font-weight: 350;
    margin-bottom: 2vh;
}

.history__card {
    display: grid;
    place-items: center;
    color: #122797;
    font-weight: 800;
}

.main-content__history {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px;
    gap: 1vh;
    padding: 0 2vh 2vh 2vh;
    margin: 0 9vw;
    color: #122797;
    margin-bottom: 2vh;
}

.main-content__arena {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5vh;
    padding: 0 2vh 2vh 2vh;
    height: 60vh;
    margin: 0 9vw;
    color: #122797;
    margin-bottom: 2vh;
}

footer {
    background-color: #000000;
}

/* Стили для карточек */
.card {
    position: relative;
    width: 100%;
    height: 200px; 
    background-image: url('/123.png'); 
    background-size: cover;
    background-position: center; 
    overflow: hidden; 
    border: 1px solid #000000;
}

.card__links {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white; 
    font-size: 1.5rem; 
    font-weight: 800; 
    background-color: rgba(0, 0, 0, 0.5); 
    transition: background-color 0.3s ease; 
}

.card__links:hover {
    background-color: rgba(0, 0, 0, 0.7); 
}