body {
    margin: 0;
    font-family: "Roboto", "Arial", sans-serif;
    /* background-image: url(/img/logo\ tampa\ bay.svg);
    background-size: cover;
    background-repeat: no-repeat; */
}


*{
    color: white;
    margin: 0px;
    padding: 0px;
    text-decoration: none;
}

/* #122797 */

header {
    display: block;
    width: 100vw;
    background-color: #122797;
    color: white;
    padding-top: 20px;
}

#heading-text {
    width: 100vw;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    display: block;
}


.header_menu{
    list-style: none;
    font-size: 1.2rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding: 1.1rem;
}

.menu_link{
    text-decoration: none;
}
.main-about{
    display: block;
    justify-items: center;
    margin-top: 2vh;
    background-color: white;
    height: 6vh;
    margin-left: auto;
    margin-right: auto;
    color: #122797;
    font-size: 1.7rem;
    text-align: center;
    font-weight: 500;
}


.main-content{
    display: block;
    padding: 0 2vh 2vh 2vh;
    height: 60vh;
    background-color: whitesmoke;
    margin: 0 9vw 0 9vw;
    color: #122797;
    margin-bottom: 2vh;
}
.main-content__text, p{
    color: #122797;
    font-size: 1.5rem;
    text-align: justify;
    line-height: 120%;
    font-weight: 350;
    margin-bottom: 2vh;
}

.main-content__img{
    display: flex;
    justify-content: center;
}



footer{
    background-color: #000000;
}